<h1> <%= @story.name %> </h1>
<p> <%= @story.description %> </p>
<ul>
  <% @events.each do |event| %>
    <%
      if event.selected_possibility_id
        possibility =  Possibility.find(event.selected_possibility_id).body
      else
        possibility = "Explore the possibilities..."
      end
    %>
    <li><%= link_to possibility, story_event_path(@story.id, event.id) %></li>
  <% end %>
</ul>

<div id='app'>
</div>
